[submodule "asylum-cores"]
	path = lib/asylum-cores
	url = git@github.com:deuskane/asylum-cores.git
[submodule "asylum-communication-spi"]
	path = ip/asylum-communication-spi
	url = git@github.com:deuskane/asylum-communication-spi.git
[submodule "asylum-communication-uart"]
	path = ip/asylum-communication-uart
	url = git@github.com:deuskane/asylum-communication-uart.git
[submodule "asylum-component-clock_divider"]
	path = ip/asylum-component-clock_divider
	url = git@github.com:deuskane/asylum-component-clock_divider.git
[submodule "asylum-component-crc"]
	path = ip/asylum-component-crc
	url = git@github.com:deuskane/asylum-component-crc.git
[submodule "asylum-component-fifo"]
	path = ip/asylum-component-fifo
	url = git@github.com:deuskane/asylum-component-fifo.git
[submodule "asylum-component-gpio"]
	path = ip/asylum-component-gpio
	url = git@github.com:deuskane/asylum-component-gpio.git
[submodule "asylum-component-ram"]
	path = ip/asylum-component-ram
	url = git@github.com:deuskane/asylum-component-ram.git
[submodule "asylum-component-stack"]
	path = ip/asylum-component-stack
	url = git@github.com:deuskane/asylum-component-stack.git
[submodule "asylum-component-timer"]
	path = ip/asylum-component-timer
	url = git@github.com:deuskane/asylum-component-timer.git
[submodule "asylum-infrastructure_icn"]
	path = ip/asylum-infrastructure_icn
	url = git@github.com:deuskane/asylum-infrastructure_icn.git
[submodule "asylum-processor-OpenBlaze8"]
	path = ip/asylum-processor-OpenBlaze8
	url = git@github.com:deuskane/asylum-processor-OpenBlaze8.git
[submodule "asylum-soc-picosoc"]
	path = ip/asylum-soc-picosoc
	url = git@github.com:deuskane/asylum-soc-picosoc.git
[submodule "asylum-system-gic"]
	path = ip/asylum-system-gic
	url = git@github.com:deuskane/asylum-system-gic.git
[submodule "asylum-target-techmap"]
	path = ip/asylum-target-techmap
	url = git@github.com:deuskane/asylum-target-techmap.git
[submodule "asylum-utils-generators"]
	path = ip/asylum-utils-generators
	url = git@github.com:deuskane/asylum-utils-generators.git
[submodule "asylum-utils-pkg"]
	path = ip/asylum-utils-pkg
	url = git@github.com:deuskane/asylum-utils-pkg.git
[submodule "asylum-processor-WardRV"]
	path = ip/asylum-processor-WardRV
	url = git@github.com:deuskane/asylum-processor-WardRV.git
[submodule "asylum-system-mailbox"]
	path = ip/asylum-system-mailbox
	url = git@github.com:deuskane/asylum-system-mailbox.git
[submodule "asylum-system-spinlock"]
	path = ip/asylum-system-spinlock
	url = git@github.com:deuskane/asylum-system-spinlock.git
